button {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button {
  width: 100px;
  height: 50px;
  padding: 20px;
  border: 2px solid red;
  background-color: blue;
}


button:hover {
  background-color: #fff;
  color: #000;
}
