button {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 500px;
  height: 100px;
}


button:hover {
  background-color: #fff;
  color: #000;
}
