*{
  color: darkblue;
  font-size: 30px;
  line-height: 20px;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 30px;
  background-color: white;
  color: blue;
  line-height: 24px;
  padding: 2px;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel-name{
  display: flex;
  align-items: center;
}

.menu-items{
  display: flex;
  flex-wrap: wrap;
}
.hotel-name,
.menu-items {
  padding: 5px;
  margin: 5px;
  color: #000;
  font-family: sans-serif;
  flex-direction: column;
  border: 2px solid blue;
  background-size: cover;
  background-color: white;
}

.menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

h3{
  width: 33%;
}

