.hotel-name {
  background-image: url(background.jpg);
  background-size: cover;
}

.hotel-name {
  display: flex;
  align-items: center;
}
.menu-items {
  display: flex;
  flex-wrap: wrap;
}
.hotel-name,
.menu-items {
  padding: 5px;
  margin: 5px;
  color: #000;
  font-family: sans-serif;
  flex-direction: column;


  border-radius: 37px; background: #ffffff; box-shadow: inset 50px 50px 100px #bfbfbf, inset -50px -50px 100px #ffffff;
}


.menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item h3 {
  margin: 0;
}

.menu-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
body {
  font-family: Open Sans, sans-serif;
  font-size: 30px;
  background-color: white;
  color: blue;
  line-height: 24px;
  padding: 2px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

h3 {
  font-size: 30px;
  line-height: 23px;
}

p {
  font-size: 30px;
  line-height: 20px;
}


h1, h2, h3, h4, h5, h6 {
  color: darkblue;
}

a {
  color: darkblue;
}

.button {
  background-color: darkblue;
  color: white;
}

.card {
  background-color: lightblue;
  color: black;
}


