*{
  color: darkblue;
  font-size: 30px;
  line-height: 20px;
}

.hotel-name {
  display: flex;
  align-items: center;
}
.menu-items {
  display: flex;
  flex-wrap: wrap;
}
.hotel-name,
.menu-items {
  padding: 5px;
  margin: 5px;
  color: #000;
  font-family: sans-serif;
  flex-direction: column;
  border: 2px solid blue;
  background-image: url();
    background-size: cover;
}
.menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item h3 {
  margin: 0;
}

.menu-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
body {
  font-family: Open Sans, sans-serif;
  font-size: 30px;
  background-color: white;
  color: blue;
  line-height: 24px;
  padding: 2px;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






table {
      display: none;
    }

    table.active {
      display: block;
    }

    .table-switcher {
      margin: 0 auto;
      width: 50%;
    }

    .table-switcher button {
      cursor: pointer;
      margin: 10px;
    }


    
